body {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../../../source-images/background.png);
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

h1 {
    font-family: 'Neucha', cursive;
    font-size: 72px;
    line-height: 1.2em;
    position: absolute;
    height: 178px;
    left:165px; 
    top: 100px;
    
}
.yellow {
    color: #FE8A02;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

}

.image {
    margin-left: 500px;
} 

.block1{
    
    font-family: 'Open Sans', sans-serif;
    color: #2A2626;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 0px;
}
.block2 {
    font-family: 'Open Sans', sans-serif;
    color: #2A2626;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 0px;
   
}
.block {
    columns: 540px 2;
    column-gap: 30px;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

.block > * > p {
    margin: 0;
    margin-bottom: 10px;
}



   


